<div class="text">
        <h3>메일쓰기</h3>
     </div>

     <div class="sendMessageOne"> <i class="fa fa-plane" aria-hidden="true"></i> 메일을 성공적으로 보냈습니다.   </div>
    
     <div class="sendMessageTwo"><a class="linkText"  onclick="return false;" id="/getMail?folderSN=0&page=1&firstPage=1&IDT=<%=IDT%>" style="color:#00c73c;">받은메일함 가기</a>  |  <a class="linkText"  onclick="return false;" id="/write/write?IDT=<%=IDT%>">메일쓰기</a></div>

     <div class="sendMessageThree">잠시 후 초기 화면으로 돌아갑니다.</div>

     <div class="text"></div>
</div>
     